<a href="https://colab.research.google.com/github/faridelya/Pandas-Seaborn-Numpy/blob/main/Assignment_4_Functions_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Task 1:**
Create a function that will calculate the amount of a tip if provided the cost of the meal
and the tip percentage. (5 Points)

In [ ]:

def tip_amount(cost_of_meal, tip_percent):

    over_allpercent = 100 
    bill =cost_of_meal
    tip_amount = (bill * int(tip_percent))/int(over_allpercent)

    print("\nTip amount == {}".format(tip_amount))

In [ ]:
tip_amount(1500, 15) # first argumnet is cost of meal and 2nd is tip percentage

Tip amount == 225.0

# **Task 2:** 
Create a function that will calculate the area of a cylinder if provided the cylinderâ€™s
radius and height. (5 Points)

In [ ]:
import math
def area_of_cylinder(radius,height ):
    # print("Please enter radius of cylinder")
    # radius = int(input())
    # print("Please enter height of cylinder")
    # height = int(input())
    area = 2*math.pi+(radius*radius) + 2* math.pi* radius * height
    print("\nArea of cylinder is = {}".format(round(area, 3)))

In [ ]:
area_of_cylinder(25,30)

Area of cylinder is = 5343.672

# **Task 3:**
Create a function to convert between any of the following units for measuring pressure:
Pascals (Pa), pounds per square inch (PSI), atmospheres (atm), and Torr. This will require using
control flow. The function should accept arguments for Value, Input Units, and Output Units
parameters. Test your function on an example pressure measurement. (10 Points)

In [ ]:
def pressure_measurement( value_, inpt_unt, outpt_unt):
    
    inpt_unt = inpt_unt.lower()
    outpt_unt = outpt_unt.lower()
    if  inpt_unt=="pa" and outpt_unt == "psi":
        print("\n\n Pascal converted to PSI")
        pascal = value_
        one_pascal =  0.00014503773801 #psi
        pa =pascal*one_pascal
        print(pascal,"pascal = {} PSI".format(pa))
    
    elif inpt_unt=="pa" and outpt_unt == "atm":
        print("\n\nPascal converted to atm")
        pascal = value_
        one_pascal =  0.0000098692316931 # atm
        atm =pascal*one_pascal
        print(pascal,"pascal = {} atm".format(atm))
    elif inpt_unt=="pa" and outpt_unt == "torr":
        print("\n\nPascal converted to torr")
        pascal = value_
        divide =  133.3223684# torr
        torr =pascal/divide
        print(pascal,"pascal = {} torr".format(round(torr,5)))
        
    elif inpt_unt=="psi" and outpt_unt == "pa":
        print("\n\nPSI converted to pascal")
        psi = value_
        one_psi =  6894.76 # equal to one pascal
        pa = psi*one_psi
        print(psi,"PSI = {} pascal".format(pa))

    elif inpt_unt=="psi" and outpt_unt == "atm":
        print("\n\nPSI converted to atm")
        psi = value_
        one_psi =  0.068046 # equal to one atm
        atm = psi*one_psi
        print(psi,"PSI = {} atm".format(atm))
        
    elif inpt_unt=="psi" and outpt_unt == "torr":
        print("\n\nPSI converted to torr")
        psi = value_
        one_psi = 51.7149 # torr
        torr =psi*one_psi
        print(psi,"pascal = {} torr".format(torr))
        
    elif inpt_unt=="atm" and outpt_unt == "pa":
        print("\n\natm converted to pascal")
        atm = value_
        one_atm =  101325 # equal to pascal
        pa =atm*one_atm
        print(atm,"atm = {} pascal".format(pa))

    elif inpt_unt=="atm" and outpt_unt == "psi":
        print("\n\natm converted to PSI")
        atm = value_
        one_psi =  14.6959 # equal to pascal
        psi=atm*one_psi
        print(atm,"atm = {} PSI".format(psi))

    elif inpt_unt=="atm" and outpt_unt == "torr":
        print("\n\natm converted to torr")
        atm = value_
        one_psi =  51.7149 # torr
        torr =psi*one_psi
        print(atm,"atm = {} torr".format(torr))

    elif inpt_unt=="torr" and outpt_unt == "pa":
        print("\n\nEnter torr converted to pascal")
        torr = value_
        one_pa =  101325 # equal to pascal
        pa =torr*one_pa
        print(torr,"torr = {} pascal".format(pa))

    elif inpt_unt=="tor" and outpt_unt == "psi":
        print("\n\ntorr converted to PSI")
        torr = value_
        one_psi =  0.0193368# equal to pascal
        psi =torr*one_psi
        print(torr,"torr = {} PSI".format(psi))

    else:
        print("\n\ntorr converted to atm")
        torr = int(input())
        one_atm = 0.00131579# equal to pascal
        atm =torr*one_atm
        print(torr,"torr = {} atm".format(atm))

In [ ]:
pressure_measurement(6500,"pa","Torr")  # first argument  value  2nd is input unit  and 3rd is ouput unit

Pascal converted to torr
6500 pascal = 48.75401 torr

In [ ]:
def unit_conversion():
    print("-----chose any conversion-----\n")
    print("pascal to PSI -- select  0\nPascal to atm -- select  1\npascal to torr -- select  2\n")
    print("PSI to pascal  -- select  3\nPSI to atm  -- select  4\nPSI to torr -- select  5\n ")
    print("atm to pascal  -- select  6\natm to PSI  -- select  7\natm to torr -- select  8\n ")
    print("torr to pascal  -- select  9\ntorr to PSI  -- select  10\ntorr to atm -- select  11\n")
    select = int(input())
    if select == 0:
        print("\n\nEnter Pascal to convert to PSI")
        pascal = int(input())
        one_pascal =  0.00014503773801 #psi
        pa =pascal*one_pascal
        print(pascal,"pascal = {} PSI".format(pa))
    
    elif select == 1:
        print("\n\nEnter Pascal to convert to atm")
        pascal = int(input())
        one_pascal =  0.0000098692316931 # atm
        atm =pascal*one_pascal
        print(pascal,"pascal = {} atm".format(atm))
    elif select == 2:
        print("\n\nEnter Pascal to convert to torr")
        pascal = int(input())
        one_pascal =  0.00750062# torr
        torr =pascal*one_pascal
        print(pascal,"pascal = {} torr".format(torr))
        
    elif select == 3:
        print("\n\nEnter PSI to convert to pascal")
        psi = int(input())
        one_psi =  6894.76 # equal to one pascal
        pa = psi*one_psi
        print(psi,"PSI = {} pascal".format(pa))

    elif select ==4:
        print("\n\nEnter PSI to convert to atm")
        psi = int(input())
        one_psi =  0.068046 # equal to one atm
        atm = psi*one_psi
        print(psi,"PSI = {} atm".format(atm))
        
    elif select ==5:
        print("\n\nEnter PSI to convert to torr")
        psi = int(input())
        one_psi =  51.7149 # torr
        torr =psi*one_psi
        print(psi,"pascal = {} torr".format(torr))
        
    elif select ==6:
        print("\n\nEnter atm to convert to pascal")
        atm = int(input())
        one_atm =  101325 # equal to pascal
        pa =atm*one_atm
        print(atm,"atm = {} pascal".format(pa))

    elif select ==7:
        print("\n\nEnter atm to convert to PSI")
        atm = int(input())
        one_psi =  14.6959 # equal to pascal
        psi=atm*one_psi
        print(atm,"atm = {} PSI".format(psi))

    elif select== 8:
        print("\n\nEnter atm to convert to torr")
        atm = int(input())
        one_psi =  51.7149 # torr
        torr =psi*one_psi
        print(atm,"atm = {} torr".format(torr))

    elif select ==9:
        print("\n\nEnter torr to convert to pascal")
        torr = int(input())
        one_pa =  101325 # equal to pascal
        pa =torr*one_pa
        print(torr,"torr = {} pascal".format(pa))

    elif select ==10:
        print("\n\nEnter torr to convert to PSI")
        torr = int(input())
        one_psi =  0.0193368# equal to pascal
        psi =torr*one_psi
        print(torr,"torr = {} PSI".format(psi))

    else:
        print("\n\nEnter torr to convert to atm")
        torr = int(input())
        one_atm = 0.00131579# equal to pascal
        atm =torr*one_atm
        print(torr,"torr = {} atm".format(atm))

In [ ]:
# unit_conversion()

# **Task 4:** 
Create a function that will calculate the dominant wavelength of radiation released by a
body based on the bodyâ€™s temperature using Wienâ€™s Law. The user should be able to define the
units of the output as either centimeters, micrometers, or nanometers. This will require using
flow control. (10 Points)
![image.png]()

In [ ]:
def dominant_wavelenght(tempture, unt ):
    peak_wavelnght = 	2.8977719 / tempture	# Millimeter
    
    if  unt == "cm":
        peak_wavelnght = peak_wavelnght/10   #centimeters
        return round(peak_wavelnght,5)

    elif unt == "um":
        peak_wavelnght = peak_wavelnght/1000   #micrometers
        return round(peak_wavelnght,5)

    elif unt == "nm":
        peak_wavelnght = peak_wavelnght/1e+6   #micrometers
        return round(peak_wavelnght,5)
    else:

        return round(peak_wavelnght,5)  #milimeter

In [ ]:
# want to check with any calculator use this link :    https://www.omnicalculator.com/physics/wiens-law


dominant_wavelenght(20 ,"cm")  # first argument is temperature in kelvin and 2nd argument is string of cm , um, nm, milil

0.01449

# **Task 5:**
Create a function that will calculate the wavelength of electromagnetic radiation if
provided the frequency or the frequency if provided the wavelength. The user must provide the
frequency in Hz and can provide the wavelength in centimeters, micrometers, or nanometers.
The function will need to include control flow and have parameters to specify the mode

In [ ]:
# The equation that relates wavelength, frequency, and speed of light is

# c = Î» â‹… Î½

# c = 3.00 Ã— 10 8 m/s (the speed of light in a vacuum) 
#Î» = wavelength in meters Î½ = frequency in Hertz (Hz) or 1 s or s âˆ’ 1 .
# To find wavelength (Î»), the equation is manipulated so that   Î»=c/Î½



def wave_elctromgntic_radtion(freq_Hz =False, wavelenght_mode=False, wavelenght_value=False):
    
    wave_lngth =0
    c = 3.00 * 10**8 # speed of light
    if bool(freq_Hz) == True:
        # print("True")
        wave_lngth = c /freq_Hz  # meter
        return round(wave_lngth,5)

    if bool(wavelenght_mode) == True:
        # print("True")
        if wavelenght_mode == "cm":
            print("cm mode active\n")
            wavelenght_value = wavelenght_value /10 #cm
            freq = c/wavelenght_value
            return round(freq,5)

        if wavelenght_mode == "um":
            print("um mode active\n")
            wavelenght_value = wavelenght_value /1000 #micrometer
            freq = c/wavelenght_value
            return round(freq,5)

        if wavelenght_mode == "nm":
            print("nm mode active\n")
            wavelenght_value = wavelenght_value /1e+6   #micrometers
            freq = c/wavelenght_value
            return round(freq,5)

In [ ]:
# we just want to find Wave lenght by sending frequency in HZ
wave_elctromgntic_radtion(freq_Hz = 4.95* 10**5,)

rue

606.06061

In [ ]:
# now we want frequency by sending wavelenght in any mode cm, um, nm
wave_elctromgntic_radtion(wavelenght_mode ="nm", wavelenght_value =0.14489)

nm mode active

2070536268893643.5